/* GLOBAL LAYOUT */

#items-frame {
  width: fit-content;

  margin-left: 1rem;

  display: flex;
  flex-direction: column;
}

#items-set-title {
  font-size: 1.7rem;
  color: white;
}

/* SVGs LAYOUT */

#all-items-and-svgs-container {
  display: flex;
  align-self: center;
}

#items-frame-img {
  position: relative;

  height: 700px;
}

#items-design-img {
  position: absolute;
  display: flex;
  margin-left: 14.7rem;
  margin-top: 1.3rem;
}

/* ALL ITEMS CONTAINER */

#all-items-container {
  position: absolute;

  width: 305px;
  height: 658px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 1rem;
  padding-right: 1rem;



  gap: 2.6rem;
}


#all-items-container > * {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 0.5rem;
}

#all-items-container > :first-child{
  margin-top: 2rem;
}

.items-title {
  /* body_text_02 */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;

  /* identical to box height */
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-feature-settings: "pnum" on, "lnum" on;

  /* text_color */
  color: #33304b;
}

.empty-items-container{
  height: 100%;
  font-style: italic;
  display: flex;
  text-align: center;
  align-items: center;
}
/* ITEMS DISPLAY AREA */

.items-display-area {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

.duplicate-items {
  position: absolute;
  bottom: -8px;
  right: -6px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 0.9rem;

  width: 24px;
  height: 24px;

  color: white;

  border-radius: 12px;
  background-color: black;
}

.items-img {
  width: 48px;
  height: 48px;
}

.single-item-container {
  display: flex;

  align-items: center;
}

.single-item-container > div {
  display: flex;
  flex-direction: column;
}

.single-item-container-rate {
  display: flex;
  flex-direction: column;

  font-size: 0.9rem;
  font-weight: bold;

  padding-left: 1rem;
}

/* FOURTH FIFTH ITEMS LAYOUT */

#fourth-fifth-items-container {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  width: 100%;
}

#fourth-fifth-items-container > * {
  height: 100%;
  
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fourth-fifth-items-display-container {
  height: 100%;
  
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* SIXTH ITEMS LAYOUT */

#sixth-items-display-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  margin-top: 0.5rem;

  row-gap: 0.5rem;
}

#sixth-items-display-container > * {
  flex: 50%;
  padding: 0;
}

#sixth-items-display-container > :last-child {
  justify-content: center;
}

/* NTH ITEMS DISPLAY LAYOUT */

.nth-items-container {
  text-align: center;
  font-size: 0.9rem;
  font-weight: bold;
}
