header {
  display: flex;
  justify-content: space-around;

  background-color: white;
  gap: 1rem;
}

header input:-webkit-autofill,
header input:-webkit-autofill:hover,
header input:-webkit-autofill:focus,
header input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 15px #FFFFFF inset !important;
}

header > * {
  padding-bottom: 0.5rem;
}

#header-logo {
  display: flex;

  align-items: center;
  gap: 2rem;
}

#header-logo > span {
  align-self: center;
  text-align: center;

  font-family: "Sumana";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 48px;

  /* bi_color */
  background: linear-gradient(252.44deg, #7878b4 0%, #383b71 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#search-bar {
  display: flex;
  justify-content: center;
}

#search-bar > * {
  padding: 0;
  margin: 0;
}

#language-select {
  padding: 1rem;
  display: flex;

  gap: 3rem;
}

#language-select > * {
  cursor: pointer;
  height: auto;
  
  align-self: center;

  display: flex;
  justify-content: center;
}
