form {
    min-height: 5rem;

    display: flex;

    gap: 3.5rem;

    border-radius: 2rem;

    padding-bottom: 2rem;
    padding-top: 0.7rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

form label {
    font-size: 0.9rem;
}

form label:hover {
    cursor: pointer;
    font-weight: bold;
}

#region-select-block{
    width: 83px;

    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-image: url(../assets/regionbg.png);
}

#region-select-block > label{
    flex: 1;
    
    display: flex;

    align-items: center;
    align-self: center;
}

#region-select{
    border: none;
    background-color: inherit;
    
    font-size: 0.9rem;

    padding-bottom: 0.4rem;
    margin-top: 0.4rem;
}

#region-select:hover{
    cursor: pointer;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    text-align: center;
}

#summoner-search-block{
    width: 289px;

    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-image: url(../assets/sumsearchbg.png);

    padding-bottom: 0.1rem;
}

#summoner-search-block > label{
    flex: 1;
    
    display: flex;

    align-items: center;
    align-self: center;
}

#summoner-search{
    background-color: inherit;
    border: none;
    outline: none;
 
    text-align: center;

    margin-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 1rem;
}

#count-search-block{
    width: 289px;

    display: flex;
    flex-direction: column;

    background-repeat: no-repeat;
    background-image: url(../assets/sumsearchbg.png);

    padding-bottom: 0.1rem;
}

#count-search-block > label{
    flex: 1;
    
    display: flex;

    align-items: center;
    align-self: center;
}

#count-search{
    background-color: inherit;
    border: none;
    outline: none;

    text-align: center;

    margin-top: 0.4rem;
    padding-left: 0.4rem;
    padding-right: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

#search-button{
    flex:1;
    
    display: flex;
    background-color: inherit;
    border: none;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;

    justify-content: center;
    align-items: center;
}

#search-button:hover{
    cursor: pointer;
}