form {
  min-height: 5rem;

  display: flex;
  gap: 1rem;

  border-radius: 2rem;

  padding-bottom: 2rem;
  padding-top: 0.7rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

form label {
  font-size: 0.9rem;
}

form label:hover {
  cursor: pointer;
  font-weight: bold;
}

#region-select-block {
  width: 83px;

  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-image: url(../assets/region.svg);
}

#region-select-block > label {
  flex: 1;

  display: flex;

  align-items: center;
  align-self: center;
}

#region-select {
  border: none;
  background-color: inherit;

  font-size: 0.9rem;

  padding-bottom: 0.4rem;
  margin-top: 0.4rem;
}

#region-select:hover {
  cursor: pointer;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
  text-align: center;
  border: none;
  outline: none;
}

#summoner-search-block {
  width: 289px;

  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-image: url(../assets/search-input.svg);

  padding-bottom: 0.1rem;
}

#summoner-search-block > label {
  flex: 1;

  display: flex;

  align-items: center;
  align-self: center;
}

#summoner-search {
  border: none;
  outline: none;

  text-align: center;

  margin-top: 0.4rem;
  margin-left: 1rem;
  margin-right: 1rem;

  -webkit-text-fill-color: none;
}

#count-search-block {
  width: 289px;

  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  background-image: url(../assets/search-input.svg);

  padding-bottom: 0.1rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
}

#count-search-block > label {
  flex: 1;

  display: flex;

  align-items: center;
  align-self: center;
}

#count-search {
  background-color: inherit;
  border: none;
  outline: none;

  text-align: center;

  margin-top: 0.4rem;
  padding-left: 0.4rem;
  padding-right: 1rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#search-button {
  flex: 1;

  display: flex;
  background-color: inherit;
  border: none;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;

  justify-content: center;
  align-items: center;
}

#search-button:hover {
  cursor: pointer;
}
