.summoner-stats-area {
  width: 65%;

  display: flex;

  align-self: center;
  justify-content: space-around;

  gap: 1rem;
}

.summoner-stats-area > div:first-of-type {
  height: 700px;

  display: flex;

  flex-direction: column;
}
